@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@100..900&display=swap');

header{
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    color: #000000;
}

span{
    color: #065BF9;
}

.menu-navigator{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.social-menu{
    width: fit-content;
    display: flex;
    justify-content:flex-end;
}

.social-menu a{
    margin-left: 20px;
    color: rgb(88, 87, 87);
    font-size: 1.25rem;
    text-decoration: none;
}

.linkDisabled{
    text-decoration: none;
}

.item{
    width: max-content;
    padding:  0.25rem 0.375rem;
    border-radius: 0.4rem;
    color: rgb(88, 87, 87);
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
}

.item:hover{
    background: rgb(88, 87, 87);
    color: #ffffff;
    font-weight: 300;
    transition: ease-out 0.75s all;
}