header{
    width: 100%;
    height: 100px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.75rem;
}

.logo{
    width: fit-content;
    display: flex;
    align-items: center;
}

h2{
    font-family: var(--fot-family-logo);
    font-size: 1rem;
    letter-spacing: 0.125rem;
    text-transform: capitalize;
    color: var(--primary-color-font-logo);
}

span{
    color: var(--secondary-color-font-logo);
}

.menu-navigator{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.social-menu{
    width: fit-content;
    display: flex;
    justify-content:flex-end;
}

.social-menu a{
    margin-left: 1rem;
    color: var(--primary-color-socialmedia);
    font-size: 1.25rem;
    text-decoration: none;
}

.linkDisabled{
    text-decoration: none;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.linkDisabled:hover{
    animation: fadeOut 2s ease-out;
}

.item{
    width: max-content;
    padding:  0.25rem 0.375rem;
    border-radius: 0.4rem;
    color: var(--primary-color-menu-items-font);
    text-decoration: none;
    font-family: var(--primary-font-menu-item);
    font-weight: 300;
    font-size: 1.25rem;
}

.item:hover{
    background: var(--primary-color-menu-items-bg);
    color: var(--primary-color-menu-items-font-hover);
    font-weight: 300;
    transition: ease-out 0.75s all;
}
