@media only screen and (min-width: 1200px){
    /* pantallas extra grandes */
    .homecontainer{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto;
        height: 70vh;
    }
    
    .title{
        margin-top: 1rem;
        font-family:var(--primary-font-family-home);
        font-weight: 100;
        font-size: 3.40rem;
    }
    
    .subtitle{
        margin: 1rem 0rem 1rem 0rem;
        font-family: var(--primary-font-menu-item);
        font-size: 2rem;
        font-weight: 200;
    }
    
    .author{
        width: fit-content;
        background-color: var(--primary-bg-font-home);
        color: #ffff;
        font-family: var(--primary-font-menu-item);
        font-weight: 200;
        padding: 0.25rem;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
    
    .author a{
        text-decoration: none;
        color: #f8f1f1;
        font-weight: bold;
    }
    
    .description{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        padding-left: 1.5rem;
    }

    .carousel{
        display: flex;
        gap: 10rem;
        width: max-content;
        overflow: hidden;
        justify-content: center;
        align-items: flex-end;
        animation: slide 50s linear infinite;
    }

    .carousel-item{
        display: flex;
        width: fit-content;
        align-items: center;
    }

    .tech-logo{
        font-size: 2.75rem;
        color: #333232;
    }

    .carousel-item h3{
        font-size: 1rem;
        color: #333232;
        font-family: var(--primary-font-menu-item);
        font-weight: 400;
    }

    @keyframes slide {
        0% {
        transform: translateX(0);
        }
        25% {
        transform: translateX(-25%);
        }
        50% {
        transform: translateX(-50%);
        }
        75%{
            transform: translateX(-75%);
        }
        100% {
        transform: translateX(-100);
        }
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    /* pantallas de escritorio */
    
}