@media only screen and (min-width: 1200px){
    /* pantallas extra grandes */
    #home{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: fit-content;
        padding: 1rem;
        height: 75vh;
    }
    
    .title{
        font-family:var(--primary-font-family-home);
        font-weight: 100;
        font-size: 3.5rem;
    }
    
    .subtitle{
        margin: 1rem;
        font-family: var(--primary-font-menu-item);
        font-size: 1.75rem;
        font-weight: 200;
    }
    
    .author{
        width: fit-content;
        background-color: var(--primary-bg-font-home);
        color: #ffff;
        font-family: var(--primary-font-menu-item);
        font-weight: 200;
        padding: 0.25rem;
        border-radius: 0.5rem;
        font-size: 0.90rem;
    }
    
    .author a{
        text-decoration: none;
        color: #f8f1f1;
        font-weight: bold;
    }
    
    .divhome{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    /* pantallas de escritorio */
    
}